<html ng-app="wrwrfApp">
<head>
    <title>Will Rice Will Ruin Friendships</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> 
    <script>
        class WrwrfController {
            constructor($scope, $http, $interval) {
                console.log("stop right there criminal scum");
                console.log("everything is currently validated server-side")
                this.http_ = $http;
                this.backendURL = "http://10.122.78.183:3000"
                this.dunks = {};
                this.redDunks = 0;
                this.blueDunks = 0;
                this.yellowDunks = 0;
                this.getDunks();
                this.getNetDunks = (team) => this.totalDunksByTeam(team) - this.totalDunksOnTeam(team)
                $interval(() => {this.getDunks();}, 1000);
            }

            getDunks() {
                const successFn = (response) => {
                    this.dunks = response.data;
                    this.teams = this.dunks.reduce((acc, row) => {
                        if (acc.indexOf(row.winner) == -1)
                            acc.push(row.winner);
                        if (acc.indexOf(row.loser) == -1)
                            acc.push(row.loser);
                        return acc;
                    }, [])
                    this.dunkTable = this.teams.reduce((acc1, team1) => {
                        acc1[team1] = this.teams.reduce((acc2, team2) => {
                            acc2[team2] = 0;
                            return acc2;
                        }, {})
                        return acc1;
                    }, {});
                    this.dunkTable = this.dunks.reduce((acc, row) => {
                        if (!acc.hasOwnProperty(row.winner)) {
                            acc[row.winner] = {};
                        }
                        if (!acc[row.winner].hasOwnProperty(row.loser)) {
                            acc[row.winner][row.loser] = 0;
                        }
                        acc[row.winner][row.loser] = row["COUNT(*)"];
                        return acc;
                    }, this.dunkTable);
                    this.totalDunksByTeam = this.dunks.reduce((acc, row) => {
                        if (!acc.hasOwnProperty(row.winner)) {
                            acc[row.winner] = 0;
                        }
                        acc[row.winner] += row["COUNT(*)"];
                        return acc;
                    }, {});
                    this.totalDunksOnTeam = this.dunks.reduce((acc, row) => {
                        if (!acc.hasOwnProperty(row.loser)) {
                            acc[row.loser] = 0;
                        }
                        acc[row.loser] += row["COUNT(*)"];
                        return acc;
                    }, {});
                    this.redDunks = response.data
                        .filter((row) => { return row.winner == 'red'})
                        .reduce((acc, curr) => acc + curr["COUNT(*)"], 0);
                    this.blueDunks = response.data
                        .filter((row) => { return row.winner == 'blue'})
                        .reduce((acc, curr) => acc + curr["COUNT(*)"], 0);
                    this.yellowDunks = response.data
                        .filter((row) => { return row.winner == 'yellow'})
                        .reduce((acc, curr) => acc + curr["COUNT(*)"], 0);
                };
                const errorFn = (response) => {
                    console.log(error);
                }
                this.http_.get(this.backendURL + '/')
                    .then(successFn, errorFn);
            }

            calculateDunks(team) {
                return this.dunks
                    .filter((row) => { return row.winner == team })
                    .reduce((acc, curr) => acc + curr["COUNT(*)"], 0);
            }

            //postPost(team1, team2) {
            //    this.http_.post('http://localhost:3000/dunk/'+ team1 + '/on/' + team2, {name: this.name, message: this.message})
            //        .then(
            //        (res) => {this.getAllPosts();},
            //        (res) => {}
            //        );
            //}

            dunk(team1, team2) {
                this.http_.get(this.backendURL + '/dunk/'+ team1 + '/on/' + team2)
                    .then(
                        (res) => {this.getDunks();},
                        (res) => {});
            }
        }
        const wrwrfApp = angular.module('wrwrfApp', []);

        wrwrfApp.controller('WrwrfController', WrwrfController);
  </script>
</head>
<body ng-controller="WrwrfController as $ctrl">
    <div class="container">
        <h1>WILL RICE WILL RUIN FRIENDSHIPS BETA</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">DUNKS</h3>
            </div>
            <div class="panel-body">
                how to play
                <ol>
                    <li>pick a team</li>
                    <li>get pissed</li>
                </ol>
                <div class="row">
                    <div class="col-lg-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><h1 class="panel-title">RED TEAM</h1></div>
                        <div class="panel-body">
                        <h2>NET DUNKS: {{2 * $ctrl.totalDunksByTeam['red'] - $ctrl.totalDunksOnTeam['red']}}</h2>
                        <h4>TOTAL DUNKS: {{$ctrl.totalDunksByTeam['red']}}</h4>
                        <h4>DUNKS FROM BLUE: {{$ctrl.dunkTable['blue']['red']}}</h4>
                        <h4>DUNKS FROM YELLOW: {{$ctrl.dunkTable['yellow']['red']}}</h4>
                        <button
                            class="btn btn-primary"
                            ng-click="$ctrl.dunk('red', 'blue')">DUNK ON BLUE</button>
                        <button
                            class="btn btn-primary"
                            ng-click="$ctrl.dunk('red', 'yellow')">DUNK ON YELLOW</button>
                        </div>
                        <div class="panel-footer">FAMOUS DUNKERS: MAELES, ALAN</div>
                    </div>
                    </div>
                <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h1 class="panel-title">BLUE TEAM</h1></div>
                    <div class="panel-body">
                    <h2>NET DUNKS: {{2 * $ctrl.totalDunksByTeam['blue'] -$ctrl.totalDunksOnTeam['blue']}}</h2>
                    <h4>TOTAL DUNKS: {{$ctrl.totalDunksByTeam['blue']}}</h4>
                    <h4>DUNKS FROM RED: {{$ctrl.dunkTable['red']['blue']}}</h4>
                    <h4>DUNKS FROM YELLOW: {{$ctrl.dunkTable['yellow']['blue']}}</h4>
                    <button
                        class="btn btn-primary"
                        ng-click="$ctrl.dunk('blue', 'red')">DUNK ON RED</button>
                    <button
                        class="btn btn-primary"
                        ng-click="$ctrl.dunk('blue', 'yellow')">DUNK ON YELLOW</button>
                    </div>
                    <div class="panel-footer">FAMOUS DUNKERS: KARTHIKA, THUC</div>
                </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading"><h1 class="panel-title">TEAM YELLOW</h1></div>
                        <div class="panel-body">
                            <h2>NET DUNKS: {{2 * $ctrl.totalDunksByTeam['yellow'] - $ctrl.totalDunksOnTeam['yellow']}}</h2>
                            <h4>TOTAL DUNKS: {{$ctrl.totalDunksByTeam['yellow']}}</h4>
                            <h4>DUNKS FROM RED: {{$ctrl.dunkTable['red']['yellow']}}</h4>
                            <h4>DUNKS FROM BLUE: {{$ctrl.dunkTable['blue']['yellow']}}</h4>
                            <button
                                class="btn btn-primary"
                                ng-click="$ctrl.dunk('yellow', 'red')">DUNK ON RED</button>
                            <button
                                class="btn btn-primary"
                                ng-click="$ctrl.dunk('yellow', 'blue')">DUNK ON BLUE</button>
                            </div>
                            <div class="panel-footer">"FAMOUS" DUNKERS: KC</div>
                        </div>
                    </div>
                </div>
                dev notes
                <ul>
                    <li>if you don't see numbers then you are not logged into rice owls. (mfw you think i'll pay for proper hosting)
                    <li>want to become a famous dunker? lmk and i'll just hardcode you in lmao
                    <li>score = 2 * your dunks - other dunks
                    <li>scheduled downtime at like midnight (12am 1/27)
                </ul>
            </div>
        </div>
    </div>
    <!--
  <div class="container">
    <h1>
      Changbook
    </h1>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Create Post</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label>Name:</label>
          <input type="text"
                 class="form-control"
                 ng-model="$ctrl.name">
          </input>
        </div>
        <div class="form-group">
          <label>Message:</label>
          <input type="text"
                 class="form-control"
                 ng-model="$ctrl.message">
          </input>
        </div>
        <button class="btn btn-primary"
                ng-class="{'disabled': (!($ctrl.name && $ctrl.message))}"
                ng-click="$ctrl.postPost()">Create Post</button>
      </div>
    </div>
    <div ng-repeat="post in $ctrl.posts | orderBy:'-timestamp'"
         class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{post.name}} says:</h3>
      </div>
      <div class="panel-body">
        {{post.message}}
      </div>
      <div class="panel-footer">
        Posted on: {{post.timestamp | date:'medium'}}
      </div>
    </div>
  </div>
-->
</body>
</html>
